body {
    font-family: 'Times New Roman', Georgia, serif;
}

.top {
    height: 5vh;
}

.navbar-style {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding-right: 50px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}   


li a {
    font-size: 16px;
    font-family: 'Playfair Display';
    color: black;
    letter-spacing: 4px;
    font-weight: 600;
}

.le-catering {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 5px;
    position: absolute;
    bottom: 175px;
    left: -70px;
    padding-left: 275px;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.second-section {
    display: flex;
    flex-direction: row;
}

.apple-cake-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
