body {
    font-family: 'Playfair Display'
}

html {
    -webkit-text-size-adjust: 100%;
}

.top {
    height: 3vh;
}

.navbar-style {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding-right: 50px;
    padding-left: 25px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
}

li a {
    font-size: 14px;
    color: black;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.le-catering {
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 5px;
    position: absolute;
    bottom: 100px;
    left: -200px;
    padding-left: 275px;
    color: #757575;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.second-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
}

.apple-cake-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
    width: 600px;
    aspect-ratio: auto 600 / 750;
    opacity: 0.75;
}

.second-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.second-section-title {
    font-size: 36px;
    color: black;
    letter-spacing: 7px;
    margin-bottom: 30px;
}

.tradition-section {
    font-size: 20px;
    letter-spacing: 5px;
    color: black;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.first-paragraph {
    font-size: 20px;
    color: black;
}

.second-paragraph {
    font-size: 20px;
    color: #757575;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
}

.our-menu-div {
    margin-right: 100px;
}

.third-section-title {
    font-size: 36px;
    text-align: center;
    color: black;
    letter-spacing: 6px;
    margin-bottom: 50px;
}

.first-option, .second-option, .third-option, .fourth-option, .fifth-option {
    font-family: 'Display Fair';
    font-size: 20px;
    letter-spacing: 6px;
    color: black;
}

.first-p, .second-p, .third-p, .fourth-p, .fifth-p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #757575;
    margin-bottom: 50px;
}

.meal {
    opacity: 0.75;
}

.fourth-section {
    display: flex;
    flex-direction: column;
    text-align: start;
}


.contact {
    font-family: 'Playfair Display';
    color: black;
    font-size: 36px;
}