h2:hover {
    color: blue;
}


.subtitle {
    color:yellowgreen;
}

#services {
    color:green;
}

/* li:only-child { 
    color: steelblue;  
    }   */
    /* nth-child(n) which i want, first child, last child, only-child when we have only one thing, 
    ofc it can be used with td e.g. it is named "pseudoselectors" */

/* #google-link:link {
    color: black;
}

#google-link:visited {
    color: red;
} */

h2 + a {
    color: red;
}

textarea ~ button {
    color: purple;
    background:black;
}

ul > li {
    color: blue;
}

ul li {
    color: green;
}